/* Common shared styles */
body{
    font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
}
/* NAv related styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:0 200px;
}
nav h3{
    font-family: 'Grandiflora One', serif;
    
}
nav li{
    font-family: 'Roboto', sans-serif;
    list-style: none;
    margin-top: 15px;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: #474747;
}
.nav-title{
    color: black;
    font-size: 50px;
    font-weight: 400;
}
.text-temporary{
    color: #a1332b;
}
nav > ul{
    display: flex;
}
/*  banner related styles */
.banner{
    background: rgba(229, 84, 115, 0.10);
}
.banner-description{
    /* padding: 30px 30px 30px 150px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:0 200px;
    padding-top: 40px;
}